[Unit]
Description=Scrutiny disk check

[Service]
Type=oneshot
ExecStart={{ scrutiny_bin }} run
{%- if scrutiny_host_id is defined %} --host-id {{ scrutiny_host_id }}{% endif %}
{%- if scrutiny_api_endpoint is defined %} --api-endpoint {{ scrutiny_api_endpoint }}{% endif %}
{%- if scrutiny_config is defined %} --config {{ scrutiny_config }}{% endif %}
{%- if scrutiny_log_file is defined %} --log file {{ scrutiny_log_file }}{% endif %}
